<div class="kanban-board relative">
    <div class="header">
        <h1>Tableau Kanban</h1>
        <div class="actions-container">
            <button mat-fab color="primary" (click)="openCreateTaskDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="filter-section">
        <div class="search-box">
            <input type="text" placeholder="Rechercher des tâches..." [(ngModel)]="searchTerm" (input)="onSearchTermChange(searchTerm)" />
        </div>
        <div class="filters">
            <div class="filter-group">
                <label for="statusFilter">Statut :</label>
                <select id="statusFilter" [(ngModel)]="statusFilter" (change)="applyFilters()">
                    <option value="ALL">Tous les statuts</option>
                    <option [value]="TaskStatus.TO_DO">À faire</option>
                    <option [value]="TaskStatus.IN_PROGRESS">En cours</option>
                    <option [value]="TaskStatus.DONE">Terminé</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="priorityFilter">Priorité :</label>
                <select id="priorityFilter" [(ngModel)]="priorityFilter" (change)="applyFilters()">
                    <option value="ALL">Toutes les priorités</option>
                    <option *ngFor="let priority of TaskPriority | keyvalue" [value]="priority.value">
                        {{ priority.value }}
                    </option>
                </select>
            </div>
            <button class="btn-secondary" (click)="resetFilters()">Réinitialiser les filtres</button>
        </div>
    </div>

    <div class="board-container flex">
        <div class="board-columns-wrapper flex-grow">
            <div class="kanban-column" cdkDropList id="todo" [cdkDropListConnectedTo]="['inprogress', 'done']" [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
                <h2>À FAIRE ({{ todo.length }})</h2>
                <app-task-card *ngFor="let task of todo" [task]="task" [openEditTaskDialog]="openEditTaskDialog.bind(this)"></app-task-card>
            </div>

            <div class="kanban-column" cdkDropList id="inprogress" [cdkDropListConnectedTo]="['todo', 'done']" [cdkDropListData]="inprogress" (cdkDropListDropped)="drop($event)">
                <h2>EN COURS ({{ inprogress.length }})</h2>
                <app-task-card *ngFor="let task of inprogress" [task]="task" [openEditTaskDialog]="openEditTaskDialog.bind(this)"></app-task-card>
            </div>

            <div class="kanban-column" cdkDropList id="done" [cdkDropListConnectedTo]="['todo', 'inprogress']" [cdkDropListData]="completed" (cdkDropListDropped)="drop($event)">
                <h2>TERMINÉ ({{ completed.length }})</h2>
                <app-task-card *ngFor="let task of completed" [task]="task" [openEditTaskDialog]="openEditTaskDialog.bind(this)"></app-task-card>
            </div>
        </div>
        <app-task-update [task]="selectedTask" [isOpen]="isPanelOpen" (closeEvent)="closePanel()"></app-task-update>
    </div>
</div>
