<div class="appointments-container">
  <div class="appointments-header">
    <h2>Mes Rendez-vous</h2>
  </div>

  <div class="appointments-list">
    <div class="appointment-card" *ngFor="let appointment of appointments">
      <div class="appointment-content">
        <div class="appointment-info">
          <div class="appointment-title">
            {{ appointment.title }}

            <span class="status-tag" [ngClass]="{'PENDING': appointment.status === 'PENDING', 'ACCEPTED': appointment.status === 'ACCEPTED', 'REJECTED': appointment.status === 'REJECTED'}">
              {{ appointment.status === 'PENDING' ? 'En attente' : appointment.status === 'ACCEPTED' ? 'Accepté' : 'Refusé' }}
            </span>
          </div>
          <div class="appointment-details">
            <span class="date">
              <i class="fas fa-calendar"></i>
              {{ appointment.date | date:'dd MMMM yyyy' }}
            </span>
            <span class="time">
              <i class="fas fa-clock"></i>
              {{ appointment.heure }}
            </span>
          </div>
        </div>
        <div class="appointment-actions">
          <button class="btn-edit" (click)="openEditModal(appointment)" [disabled]="appointment.status === 'ACCEPTED' || appointment.status === 'REJECTED'">
            Modifier
          </button>
          <button class="btn-delete" (click)="openDeleteModal(appointment.id || 0)" [disabled]="appointment.status === 'ACCEPTED' || appointment.status === 'REJECTED'">
            Supprimer
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!appointments.length" class="empty-state">
      <i class="fas fa-calendar-times"></i>
      <p>Aucun rendezvous trouvé.</p>
    </div>
  </div>
</div>