<div class="appointments-container">
  <div class="appointments-header">
    <h1>Mes Rendez-vous Reçus</h1>
    <p class="subtitle">Gérez vos rendez-vous en toute simplicité et efficacité.</p>
  </div>

  <div class="appointments-grid">
    <div class="appointments-list">
      <h3>Rendez-vous en attente d’approbation</h3>
      <div class="appointment-card" *ngFor="let appointment of appointments" 
           [ngClass]="{'PENDING': appointment.status === 'PENDING', 'ACCEPTED': appointment.status === 'ACCEPTED', 'REJECTED': appointment.status === 'REJECTED'}">
        <div class="appointment-content">
          <div class="appointment-info">
            <div class="appointment-title">
              {{ appointment.title }}
              <span class="status-tag" [ngClass]="{'PENDING': appointment.status === 'PENDING', 'ACCEPTED': appointment.status === 'ACCEPTED', 'REJECTED': appointment.status === 'REJECTED'}">
                {{ appointment.status === 'PENDING' ? 'En attente' : appointment.status === 'ACCEPTED' ? 'Accepté' : 'Refusé' }}
              </span>
            </div>
            <div class="appointment-details">
              <span class="date">
                <i class="fas fa-calendar"></i>
                {{ appointment.date | date:'dd MMMM yyyy' }}
              </span>
              <span class="heure" *ngIf="appointment.heure">
                <i class="fas fa-clock"></i>
                {{ (appointment.heure) }}
              </span>
              
            </div>
          </div>
          <div class="appointment-actions" *ngIf="appointment.status === 'PENDING'">
            <button class="btn-approve" (click)="approveAppointment(appointment.id)">
              Approuver
            </button>
            <button class="btn-reject" (click)="rejectAppointment(appointment.id)">
              Refuser
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!appointments.length" class="empty-state">
        <i class="fas fa-calendar-heures"></i>
        <h3>Aucun rendez-vous trouvé</h3>
        <p>Vos rendez-vous apparaîtront ici une fois programmés.</p>
      </div>
    </div>

    <div class="calendar-section">
      <div class="calendar-wrapper">
        <full-calendar #calendar [options]="calendarOptions"></full-calendar> <!-- Ajoutez #calendar ici -->
      </div>
    </div>
  </div>
</div>