<div class="container">
    <p-toast></p-toast>
    <div class="page-header">
        <h2>Filtrer le personnel</h2>
        <p>Sélectionnez les types de personnel et les attributs pour filtrer les données du personnel.</p>
    </div>

    <div class="filter-section">
        <div class="p-field">
            <label for="staffTypes">Sélectionner les types de personnel</label>
            <p-multiSelect id="staffTypes" [options]="staffTypes" [(ngModel)]="selectedTypeIds" optionLabel="typeName" optionValue="id" placeholder="Sélectionner les types de personnel"></p-multiSelect>
        </div>

        <div class="p-field">
            <label for="attributes">Sélectionner les attributs</label>
            <p-multiSelect id="attributes" [options]="attributes" [(ngModel)]="selectedAttributeIds" optionLabel="attributeName" optionValue="id" placeholder="Sélectionner les attributs"></p-multiSelect>
        </div>

        <div class="button-group">
            <button pButton type="button" label="Filtrer" icon="pi pi-filter" (click)="filterStaff()" [disabled]="selectedTypeIds.length === 0 || selectedAttributeIds.length === 0" class="filter-btn"></button>
            <button pButton type="button" label="Réinitialiser" icon="pi pi-refresh" (click)="resetFilters()" class="reset-btn"></button>
        </div>
    </div>

    <p-table [value]="staffList" styleClass="p-datatable-gridlines custom-table" [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th>Type de personnel</th>
                <th *ngFor="let attr of filteredAttributes">{{ attr.attributeName }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-staff>
            <tr>
                <td>{{ staff.staffType.typeName }}</td>
                <td *ngFor="let attr of filteredAttributes">{{ getAttributeValue(staff, attr.id) }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="filteredAttributes.length + 1">Aucun personnel trouvé.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
